<%= form_for([@room, @room.reservations.new]) do |f| %>

	<div class="row">
		<div class="col-md-12 price_tag">
			<span>$<%= @room.price %></span>
			<span class="pull-right">Per Month</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>Check In</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %>
		</div>
		<div class="col-md-6">
			<label>Check Out</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control', disabled: 'true' %>
		</div>
	</div>


	<%= f.hidden_field :room_id, value: @room.id %>
	<%= f.hidden_field :price, value: @room.price %>
	<%= f.hidden_field :total, value: 'reservation_total' %>
	<%= f.hidden_field :service_fee, value: 'services_fee' %>
	<%= f.hidden_field :owner_id, value: @room.user_id %>
	<%= f.hidden_field :total_months, value: 3 %>



	<h4><span id="message"></span></h4>

	<div id="preview" style="display: none">
		<table class="reservation-table" >
			<tbody>
				<tr>
					<td>First Month Rent</td>
					<td><span id="reservation_month"></span></td>
				</tr>
				<tr>
					<td>One-Time Service Fee</td>
					<td><span id="reservation_serv_fee"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="reservation_total_sum"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	<%= f.submit "Book Now", id: "btn_book", class: "btn btn-primary wide", disabled: 'true' %>

<% end %>

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}

	$(function() {

		unavailableDates = [];

		$.ajax({
			url: '/preload',
			data: {'room_id': <%= @room.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});

				$('#reservation_start_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '6m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_end_date').datepicker("option", "minDate", selected);
						//$('#reservation_end_date').datepicker('setDate', $("#reservation_start_date").datepicker("getDate") + 15);
						$('#reservation_end_date').attr('disabled', false);

						var startDate = $("#reservation_start_date").datepicker('getDate');
		        //if a date was selected else do nothing
		        if (startDate != null) {
		            startDate.setMonth(startDate.getMonth()+1);
		            $("#reservation_end_date").datepicker('option', 'minDate',startDate);
		        }

						//Calculate again if start date is modified
						if($("#reservation_end_date").datepicker("getDate") != null) {
  							//alert("no date selected");
							var start_date = $(this).datepicker('getDate');
							var end_date = $('#reservation_end_date').datepicker('getDate');
						  var days = (end_date - start_date)/1000/60/60/24 + 1

							var input = {
								'start_date': start_date,
								'end_date': end_date,
								'room_id': <%= @room.id %>
							}

							$.ajax({
								url: "/preview",
								data: input,
								success: function(data) {

									if (data.conflict) {

										$('#message').text("This date range is not available.");
										$('#preview').hide();
										$('#btn_book').attr('disabled', true);

									} else {

										$('#preview').show();
										$('#btn_book').attr('disabled', false);

										var total = days * <%= @room.price %>;
										var first_month = <%= @room.price %>;
										var serv_fee = <%= @room.price %> * 0.25;
										total = <%= @room.price %> + serv_fee;


										$('#reservation_month').text(first_month);
										$('#reservation_serv_fee').text(serv_fee);
										$('#reservation_total_sum').val(total);
										$('#reservation_total').val(total); // This is for hidden field reservation total
										$('#reservation_service_fee').val(serv_fee); // This is for hidden field reservation total
									}
								}
							});
						}

						// var start_date = $(this).datepicker('getDate');
						// var end_date = $('#reservation_end_date').datepicker('getDate');
					  // var days = (end_date - start_date)/1000/60/60/24 + 1


					}
				});

				$('#reservation_end_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '6m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_start_date').datepicker("option", "maxDate", selected);

						var start_date = $('#reservation_start_date').datepicker('getDate');
						var end_date = $(this).datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'room_id': <%= @room.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#message').text("This date range is not available.");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									var total = days * <%= @room.price %>;
									var first_month = <%= @room.price %>;
									var serv_fee = <%= @room.price %> * 0.25;
									total = <%= @room.price %> + serv_fee;

									$('#reservation_month').text(first_month);
									$('#reservation_serv_fee').text(serv_fee);
									$('#reservation_total_sum').text(total);
									$('#reservation_total').val(total);
									$('#reservation_service_fee').val(serv_fee);

								}
							}
						});

					}
				});
			}
		});



	});
</script>
